* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f2f3;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}

.page-block {
    display: block;
    width: 100%;
    height: 100%;
}

.inner-block {
    display: block;
    min-width: 720px;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.f-center {
    justify-content: center;
}

.sp {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.header-page {
    background-color: #212121;
    color: #fff;
}

.header-inner {
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    color: #D23228;;
    font-size: 26px;
    font-weight: 600;
    align-items: center;
}

.nav-div {
    font-size: 1rem;
}

@media (min-width: 720px) {
    .nav-div {font-size: calc(1rem + 1.25vw + calc(7px - 1rem));}
}

@media (min-width: 1200px) {
    .nav-div {font-size: 1.375rem;}
}

.link{
    transition: .1s linear;
}

.link:hover {
    color: #D23228;
}

.vl {
    user-select: none;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

/* Форма регистрации */

.title {
    color: #D23228;
    font-size: 1.5rem;
}

.form-block {
    display: inline-block;
    min-width: 660px;
    margin: 40px auto;
    padding: 10px 20px;
    user-select: none;
    background-color: #212121;

}

.auth-input {
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 1.25rem;
}

.input-panel {
    margin: 10px auto;
}

label {
    color: #f1f2f3;
    font-size: 1.0125rem;
}